@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    top: 0;
    right: 0;
}

.image-main {
    width: 100%;
    height: 100%;
}

.image-container {
    width: 50%;
}

#mc-image {
    /* image-rendering: pixelated; */
    width: -webkit-fill-available; 
    width: -moz-available;
    cursor: zoom-in;
}

.viewer-canvas > img {
    image-rendering: pixelated;
}

.loading-bar {
    width: calc(160px * 3);
    height: calc(16px * 3);

    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 50px;
    overflow: hidden;
    
    background-color: #42429A;
}

.bar {
    display: flex;
	position: absolute;
	width: inherit;
	height: inherit;
    border-radius: 50px;
    overflow: hidden;
}

#percentage {
    z-index: 1;
    margin: auto auto;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
}

#bar {
	position: inherit;
	width: 0%;
	height: inherit;
    background-image: url("/image/loading-bar.png");
    background-repeat: no-repeat;
    background-size: cover;
	image-rendering: pixelated;
    border-radius: 50px;
    transition: width 1s ease-out;
}
